@page "/fact"

<p>
    <label>
        Enter any positive number
        <input type="range" min=1 max=15 @bind="number" />
    </label>
</p>

<p>The factorial of @number is :@Fact(number) (Using For-Loop)</p>

<p>The factorial of @number is :@While_fact(number) (Using While-Loop)</p>

<p>The factorial of @number is :@Rec_fact(number) (Using Recurvie methid)</p>

@code {

    private int number = 6;
    private int Fact(int num) 
    {
        var factValue = 1;
        for(var i=1; i<=num; i++) 
        {
            factValue = factValue * i;
        }
        return factValue;
    }

    private int While_fact(int num) 
    {
        var i = 1;
        var factValue = 1;
        while (i<=num) 
        {
            factValue = factValue * i;
            i++;
        }
        return factValue;
    }

    private int Rec_fact(int num) 
    {
        if (num==1) {
            return 1;
        }
        else {
             return (num * Rec_fact(num-1));
        }
    }
}