@page "/fibo"

<label>Enter a number : 
    <input type="number" min=2 max =50 @bind="number">
</label>
<p>The value of @number in fibonacci is : @fibo(number) (Using For-loop)</p>
<p>The value of @number in fibonacci is : @rec_fibo(number) (Using Recursive method</p>


@code{

    private int number = 10;
    private int fibo(int num)
    {
        var n1 = 1;
        var n2 = 1;
        var n3 = 2; 
        for(var i = 3; i<=num ; i++) 
        {
            n3 = n1 + n2;
            n1 = n2;
            n2 = n3;
        }
        return n3;
    }

    private int rec_fibo(int num)
    {
        if (num <= 2) return 1;
        else return (fibo(num - 1) + fibo(num - 2));
    }
}